/code/models/text2vec/
/PaddleNLP-develop/
/code/outputs/fasttext/fasttext_model.bin
/code/data/SentimentAnalysis-master/lstm_data_test/Word2vec_model.pkl
/code/ir/vector.pkl
/code/ir/sentence_transformers.zip
/code/ir/softmatch/data_neg.txt
/code/ir/softmatch/data_pos.txt
/code/ir/softmatch/dev.xlsx
/code/ir/SentenceTransformer/export/
/code/ir/SentenceTransformer/deploy/
/code/server/
/code/ir/softmatch/vector_index
/code/ir/softmatch/vector.pkl
/code/ir/softmatch/match_model/
/code/bak/
/code/data/SentimentAnalysis-master/